body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    height: 100vh;
}

.level1 {
    display: inline-block;
    width: 300px;
    background-color: lightcoral;
    height: 100vh;
    vertical-align: middle;
}

.level2 {
    display: inline-block;
    width: 300px;
    background-color: lightsalmon;
    height: 100vh;
    vertical-align: middle;
}

.blocks_level1 {
     min-height: 50px;
    border: 2px solid black;
    border-radius: 5px;
}
.blocks_level2 {
    min-height: 50px;
    border: 2px solid black;
    border-radius: 5px;
}






.sidebar {
    width: 400px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    right: 0;
}

.content {
    width: 100%;
    margin-right: 400px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    resize: vertical;
}
input {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}