{% extends 'base.html' %}

{% block content %}
{{ super() }}
    <div class="container">
        <div class="sidebar">
            <form action="/" method="post" class="form-cont">
                <textarea type="text" name="prompt" placeholder="Your theme for mental map..."></textarea>
                <input type="submit" value="Send!">
            </form>
        </div>
        <div class="content">
            <div class="level1">
                {% for block in blocklist_level1 %}
                    <div class="blocks_level1">{{ block }}</div>
                {% endfor %}
            </div>
            <div class="level2">
                {% for block in blocklist_level2 %}
                    <div class="blocks_level2">{{ block }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}